h1 {
  text-align: center;
  color: cornflowerblue;
  font-size: 2em;
}
h2 {
  text-align: center;
  text-decoration: underline;
  color: lightblue;
  font-size: 1.5em;
}
h3 {
  text-align: center;
  font-size: 0.8em;
}

img {
  width: 400px;
  height: 300px;
  max-width: 100%;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
img {
  max-width: 100%;
  margin-bottom: 2em;
}
.image {
  margin-top: 2em;
  flex-basis: 40%;
}
.text {
  font-size: 20px;
  padding-left: 20px;
}

.btn-space {
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;
  min-width: 5em;
}

.form_container {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: cornflowerblue;
  color: white;
  margin-left: 1.2em;
  margin-right: 1.2em;
}
